

@media (max-width: 1024px) {

    .container {
        max-width: 940px;
    }
    
    
    .links a:not(:last-child) {
        margin-right: 20px;
    }

    /* .span {
        display: inline;
    } */

    .section1 h1 {
        font-size: 30px;
        line-height: 35px;
    }



    .get {
        margin-top: 30px;
    }

    .desc svg {
        margin-left: 60px;
    }

    .section3 img {
        margin-left: 0;
    }

    .section3 h2 {
        font-size: 30px;
        margin-top: 30px;
        line-height: 40px;
    }

    .section3 .cpan {
        display: inline;
    }

    .section4 h2 {
        margin-top: 0;
    }

    .plan-items svg {
        margin-left: 55px;
    }


    .section2 h2 {
        font-size: 30px;
        margin-top: 0;
        line-height: 40px;
    }

    .section6 h2 {
        font-size: 30px;
        margin-top: 0;
    }

    .profile-title h5 {
        font-size: 14px;
        line-height: 15px;
    }

    .profile-title p {
        line-height: 15px;
    }

}


@media (max-width: 790px) {

    .container {
        max-width: 700px;
        padding: 10px;
    }

    .nav {
        display: none;
    }

    .links {
        display: none;
    }

    .burger svg{
        display: block;
        width: 50px;
    }

    .col-4 {
        width: 50%;
    }

    .cart3 {
        display: none;
    }

    .line1::after {
        content: "";
        position: absolute;
        width: 2px;
        background-color: #EEEFF2;
        height: 125px;
        right: 0;
        bottom: 38px;
    }

    .section1 {
        margin: 0;
    }

    .section1 p {
        line-height: 17px;
    }

    .section1 h1 {
        font-size: 20px;
        line-height: 20px;
    }

    .get {
        padding: 14.5px 60.5px;
    }

    .section3 img {
        margin-left: 0;
        width: 100%;
    }

    .section3 {
        margin-top: 30px;
    }

    .section3 h2 {
        font-size: 18px;
        line-height: 25px;
    }
    .section3 .p {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 10px;
    }

    .section3 .span {
        display: inline;
    }

    .items:not(:last-child) {
        padding-bottom: 5px;
    }
    
    .section4 h2 {
        font-size: 18px;
        line-height: 25px;
        padding-bottom: 0;
    }

    .plan:last-child {
        margin-top: 10px;
    }

    .plan {
        padding-bottom: 20px;
        margin: 0 auto;
    }
    .plan img {
        padding-top: 50px;
        padding-bottom: 15px;
    }

    .section5 h2 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 0;
        margin-top: 30px;
    }

    .section5 p {
        padding-bottom: 20px;
    }

    .section6 h2 {
        font-size: 18px;
        line-height:25px;
    }

    .carts {
        padding: 50px;
    }

    .title-sub h2 {
        font-size: 18px;
        line-height: 25px;
    }

    .title-sub button {
        font-size: 15px;
    }

    .subscribe p {
        padding-bottom: 0;
    }

    .subscribe {
        padding: 50px;
    }

    
}